<!-- <footer class="mt-auto bg-gradient">
    <div class="container py-4">
        <div class="row  border-bottom">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <p class="h5"> Reference Links:
                        <a href="">Java</a>
                        <a href="">Spring</a>
                        <a href="">Angular</a>
                        <a href="">AWS</a>
                    </p>
                    <p class="h5">
                        <i class="bi bi-github me-4"></i>
                        <i class="bi bi-twitter me-4"></i>
                        <i class="bi bi-facebook me-4"></i>
                        <i class="bi bi-instagram"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent font-weight-light"> Java</li>
                    <li class="list-group-item bg-transparent font-weight-light"> Python</li>
                    <li class="list-group-item bg-transparent font-weight-light"> .Net</li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent font-weight-light"> JBOSS</li>
                    <li class="list-group-item bg-transparent font-weight-light"> WebSphere</li>
                    <li class="list-group-item bg-transparent font-weight-light"> Tomcat</li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent font-weight-light"> Java</li>
                    <li class="list-group-item bg-transparent font-weight-light"> Python</li>
                    <li class="list-group-item bg-transparent font-weight-light"> .Net</li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent font-weight-light"> JBOSS</li>
                    <li class="list-group-item bg-transparent font-weight-light"> WebSphere</li>
                    <li class="list-group-item bg-transparent font-weight-light"> Tomcat</li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->

<footer class="footer bg-secondary text-light">
    <div class="container-fluid p-3 p-md-5">
        <div class="d-flex justify-content-between">
            <p class="h5"> Reference Links:
            </p>
            <p class="h5">
                <i class="bi bi-github me-4"></i>
                <i class="bi bi-twitter me-4"></i>
                <i class="bi bi-facebook me-4"></i>
                <i class="bi bi-instagram"></i>
            </p>
        </div>
        <hr>
        <p> Designed and built by the <a href="https://github.com/orgs/ng-bootstrap/people" rel="noopener"
                target="_blank">cross-question team </a> with the help of our <a
                href="https://github.com/ng-bootstrap/ng-bootstrap/graphs/contributors" rel="noopener"
                target="_blank">contributors</a>. </p>
        <p> Code licensed under <a href="https://raw.githubusercontent.com/ng-bootstrap/ng-bootstrap/master/LICENSE"
                rel="noopener" target="_blank">MIT license conditions.</a></p>
        <p> Documentation licensed under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY
                3.0</a>. Design and content of the documentation site heavily inspired by the <a
                href="https://getbootstrap.com/" rel="noopener" target="_blank">original Bootstrap design</a>. </p>
        <p> Icons made by <a href="https://iconmonstr.com/" rel="noopener" target="_blank">Iconmonstr</a></p>
    </div>
</footer>