<!-- <app-header></app-header>
<div class="main">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer> -->



<app-header></app-header>
<div id="main">
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <div class="col-12 col-lg-2 xq-border-right bg-white"> 
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-12 col-lg-10">
        <section class="row  py-4 px-2 px-md-3 px-lg-4">
          <div class="col-12 col-xl-9 px-md-0 pr-xl-4">
            <router-outlet></router-outlet>
          </div>
          <div id="ad-block" class="col-12 col-xl-3 d-none d-xl-block contextual-nav border">
            <div class="bg-light"></div>
          </div>
        </section>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>


<app-category-list></app-category-list>